@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card{
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}
body{
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  color: rgb(37, 38, 39);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root{
  position: relative;
  margin: 200px auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}
.cont{
  color: aliceblue;
  padding: 32px 64px;
  border: none;
  border-radius: 16px;
  width: fit-content;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #9c96ec88;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
h2{
  margin: 0 0 16px 0;
}
.reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}
.input{
    min-width: 190px;
    margin-top: 20px;
}

.h1{
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  font-size: 35px;
}

.input {
    background-color: #ffffffd0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: none;
    padding: 8px;
    box-shadow: 0 0 0 .15vw rgba(148, 111, 216, 0.186);
    border-radius: 0.4vw;
    outline: none;
    min-width: 250px;
    min-height: 36px;
    transition: .6s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  
  .input:hover {
    box-shadow: 0 0 0 .15vw rgba(37, 62, 71, 0.186);
  }
  
  .input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
  }
.input2{
  
  margin-top: 10px;
  background-color: #0066ff;
  color: #fff;
  border: 0;
  display: block;
  border-radius: 24px;
  min-width: 200px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}
.warn2{
  
  margin-top: 10px;
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  min-width: 200px;
  padding: 10px 16px;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
  display: block;
}
.warn2:hover {
  background-color: green;
}

.input2:hover {
  background-color: red;
}

.input23{
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  min-width: 200px;
  padding: 10px 16px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}


  .circle {
    z-index: 0;
    position: absolute;
    left: 45%;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: none;
    background: linear-gradient(195deg, #ffffff, #a2b7df);
    animation: bubble1 13s linear infinite;
  }
  @keyframes bubble1 {
    0% { transform: translateY(20vh); }
    100% { transform: translateY(-220vh); } 
  }

  .circle2 {
    z-index: 0;
    position: absolute;
    left: 10%;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: none;
    background: linear-gradient(225deg, #ffffff, #a2b7df);
    animation: bubble2 9s linear infinite;
  }
  @keyframes bubble2 {
    0% { transform: translateY(-130vh); } 
    100% { transform: translateY(80vh); }
  }


  @media screen and (max-width:800px){
    #cont{
      max-width: 200px;
    }
    #root{
      margin: 30% auto;
    }
    h2{
      font-size: 20px;
    }
    .input {
      font-size: 14px;
      border-radius: 1.8vw;
    }
    .circle2 {
      left: -37%;
      width: 100vw;
      height: 100vw;
    }
    .circle {
      left: 55%;
      width: 80vw;
      height: 80vw;
    }
    @keyframes bubble1 {
      0% { transform: translateY(50vh); }
      100% { transform: translateY(-220vh); } 
    }
  }






  .butt {
    margin: 0 auto;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
  }
  
  .butt:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
  }
  
  .butt .icon {
    position: absolute;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .butt .text {
    transform: translateX(65px);
  }
  
  .butt:hover .icon {
    width: 170px;
  }
  
  .butt:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .butt:focus {
    outline: none;
  }
  
  .butt:active .icon {
    transform: scale(0.85);
  }